<div class="row wrapper border-bottom white-bg page-heading">
    <div id="loaderDiv" loader>
        <img src="../../../../assets/images/site/ajax-loader.gif" class="ajax-loader" />
    </div>
    <div class="col-lg-10">
        <h2>VYSA Admin Home</h2>
    </div>
</div>
<div>
    <div class="white-bg">
        <div class="col-sm-12">
            <p class="top-buffer-sm">Thank You for helping the club. Your work in the adminstration of the club is truly appreciated!</p>
        </div>
    </div>
</div>